/* estils intermodular 02 web */

html{
    background-color:#f3fac9;
    font-family:arial;
    box-sizing: border-box;
}

#cap{
    width:80%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px black;
    text-align:center;
    background-color:rgb(171, 221, 169);
}

#cap h1{
    width:60%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px blue;
    color:blue;
    font-weight: bold;
    text-align:center;
    background-color:white;
}
#principal{
    width:80%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px black;
    text-align:center;
    background-color:rgb(171, 221, 169);
}

#principal p.paragraf{
    width:60%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px blue;
    color:blue;
    font-weight: bold;
    text-align:center;
    background-color:white;
}

.imatge{
    width:400px;
    margin:20px;
}